/* Kelas yang ada hidenya makan akan hilang */
.sidenav.hide{
    width: 87px;
    /* transition: all ease-in-out.10s; */
}

.sidenav.hide .dasboard{
    display: none;
}

.sidenav.hide .nav-link-text{
    display: none;
}

/* Tonggle Menu*/
#menu-button{
    width: 35px;
    position: absolute;
    overflow: hidden;
    left: 22px;
}

#menu-label{
    position: relative;
    display: block;
    height: 20px;
    cursor: pointer;
}

#menu-checkbox{
    display: none;
}

#hamburger,#menu-label:after, #menu-label:before{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: black;
}

#menu-label:after, #menu-label:before{
    content: "";
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) left;
}

#meu-label:before{
    top: 0;
}

#menu-label:after{
    top: 8px;
}

#hamburger{
    top: 16px;
}

#hamburger:before{
    content: "MENU";
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

/* Membuat Animasi */
#menu-checkbox:checked + #menu-label::before{
    left: -39px;
}

#menu-checkbox:checked + #menu-label::after{
    left: 39px;
}

#menu-checkbox:checked + #menu-label #hamburger::before{
    animation: moveUpThenDown 0.8s ease 0.2s forwards,
    shakeUp 0.8s ease 0.2s forwards,
    shakeDown 0.2s ease 0.8s forwards;
}

/* ANIMASINYA */
@keyframes moveUpThenDown {
    0%{
        top: 0;
    }
    50%{
        top: -27px;
    }
    100%{
        top: -14px;
    }
    
}

@keyframes shakeUp {
    0%{
        transform: rotateZ(0);
    }
    25%{
        transform: rotateZ(-10deg);
    }
    50%{
        transform: rotateZ(0);
    }
    75%{
        transform: rotateZ(10deg);
    }
    100%{
        transform: rotateZ(0);
    }
    
}

@keyframes shakeDown {
    0%{
        transform: rotateZ(0);
    }
    80%{
        transform: rotateZ(3deg);
    }
    90%{
        transform: rotateZ(-3deg);
    }
    100%{
        transform: rotateZ(0);
    }
    
}